// color variables named using Name That Color tool: http://chir.ag/projects/name-that-color/

// reds
$crimson: rgb(207, 24, 55); // #CF1837
$cardinal: rgb(204, 32, 49); // #CC2031
$torch_red: rgb(255, 31, 68); //#FF1F44
$tamarillo: rgb(156, 19, 41); // #9C1329
$rose: rgb(255,0,115); // #ff0073

// blacks
$black: rgb(0, 0, 0); // #000000
$mineshaft: rgb(51, 51, 51); // #333333
$silver: rgb(205, 205, 205); // #cdcdcd

// grays
$gray: rgb(126, 126, 126); // #7E7E7E
$alto: rgb(220, 220, 220); // #DCDCDC
$tundora: rgb(74, 74, 74); // #4A4A4A
$athens_gray: rgb(244,245,248); // #F4F5F8
$dove_gray: rgb(102, 102, 102); // #666666
$dusty_gray: rgb(153, 153, 153); // #999999

// whites
$white: rgb(255, 255, 255); // #FFFFFF
$alabaster: rgb(249, 249, 249); // #F9F9F9

$jade: rgb(0, 179, 120); // #00B378
$saffron: rgb(245, 195, 59); // #F5C33B// blue
$deep_cerulean: rgb(8, 110, 175); // #086EAF

$throbber-color: $dusty_gray;
$throbber-modal-color: #FFF;

$button-min-width: 150px;

// Deloitte Branding
$deloitte_green: rgb(134,188,37); // #86bc25;
$deloitte_blue: rgb(0,163,224) // #00a3e0;
