<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<title><%= htmlWebpackPlugin.options.appTitle %></title>

	<!--Use jQUery CDN in Production Mode-->
	<!-- <% if(htmlWebpackPlugin.options.isProductionMode){ %>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<% } else{ %>
	<script type="text/javascript" src="/<%= htmlWebpackPlugin.options.publicPath %>/hosted/jquery.min.js"></script>
	<% } %>

	<script type="text/javascript" src="/<%= htmlWebpackPlugin.options.publicPath %>/hosted/toastr.min.js"></script> -->
</head>
<body>
	<div id='app-root'></div>
</body>
</html>
